@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("SimpleWebApp.CMS", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>

                    <ul class="nav nav-pills pull-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@User.Identity.Name</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", false)
</body>
</html>
